.course{
    height: $spacer * 25;
    .topContent{
        @include pad(){
            top: 25%;
            left: 50%;
        }
    }
    .bottomContent{
        @include pad(){
            bottom: -5%;
            left: 50%;
        }
    }
}
.course:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 $spacer * 25 1519.2px;
    border-color: transparent transparent $gray-500 transparent;
    @include pad(){
        width: 100%;
        height: 50%;
        border: 0;
        background-color: $gray-500;
    }
}
.category{
    height: $spacer * 22;
    display: flex;
    flex: 1;
    .card{
        position: relative;
        flex: 1;
        transition: 0.8s;
        transition:
            flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
            background 0.2s;
        ;
    }
    .openCard{
        flex: 2;
    }
}

.introduce{
    img{
        height: $spacer * 22;
    }
}

