.products{
    .title{
        border-bottom: $wood 2px solid;
    }    
    .category li{
        border-right: $wood 2px solid;
        @include pad() {
            font-size: 20px;
        }
    }
}