.card{
    img{
        height: 255px;
        @include mobile(){
            height: 450px;
        }
    }
    .favor{
        font-size: 35px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
    }
    .img{
        height: 255px;
        @include mobile(){
            height: 450px;
        }
    }
    &_headshot{
        height: 100px !important;
        width: 100px;
    }
    .productImg{
        transition: transform .5s;
        p{
            opacity: 0;
            position: relative;
        }
        &:hover{
            opacity: 0.8;
            p{
                animation-name: faedText;
                animation-duration: .8s;
                animation-fill-mode: forwards;
            }
        } 
    }
}
.productsCard{
    height: 501px;
}
.carts .card{
    .title{
        @include mobile(){
            font-size: 24px;
        }
    }
    .price{
        font-size: 24px;
    }
}