.navbar{
    .navbar-brand{
        font-size: 40px;
        font-family: 'Special Elite', cursive;
        @include mobile(){
            font-size: 30px;
        }
        i{
            font-size: 50px;
            @include mobile(){
                font-size: 35px;
            }
        }
    }
    .badge{
        transform: translateX(-5px) translateY(5px);
        font-size: 13px;
    }
}
