.navbar{
    .navbar-brand{
        font-size: 40px;
        font-family: 'Special Elite', cursive;
        @include mobile(){
            font-size: 30px;
        }
        i{
            font-size: 50px;
            @include mobile(){
                font-size: 35px;
            }
        }
    }
    .badge{
        transform: translateX(-5px) translateY(5px);
        font-size: 13px;
    }
}
.slide-enter-active {
    transition: all .3s ease;
}
.slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
}