*,
*::before,
*::after {
	box-sizing: border-box;
}


body{
    height: 100%;
    overflow-x: hidden;
    line-height: 2;
}
.img{
    background-position: center center;
    background-size: cover;
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
    height: auto;
}
.font{
    &-xs{
        font-size: 8px;
    }
    &-sm{
        font-size: 12px;
    }
    &-md{
        font-size: 14px;
    }
    &-lg{
        font-size: 16px;
    }
    &-xl{
        font-size: 20px;
    }
    &-xxl{
        font-size: 24px;
    }
}

.section_title{
    font-size: 30px;
    font-weight: bold;
}
.title_border{
    border-bottom: $wood 2px solid;
}
a{
    color: #000000;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}